<div class="container">
  <form class="form-horizontal" [formGroup]="formulario">
    <div class="col-sm-12">
      <label class="control-label" for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" [(ngModel)]="livro.nome">
    </div>
    <div class="col-sm-12">
      <label class="control-label" for="nomeAutor">Nome do Autor</label>
      <input type="text" class="form-control" id="nomeAutor" formControlName="nomeAutor" [(ngModel)]="livro.nomeAutor">
    </div>
    <div class="col-md-12">
      <label for="valor" class="control-label">Telefone</label>
      <input type="number" class="form-control" id="valor" [(ngModel)]="livro.valor"
        formControlName="valor">
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="genero" class="control-label">Genero</label>
        <select class="form-control" id="genero" formControlName="generos" [ngModel]="livro.genero">
          <option *ngFor="let genero of generos" [ngValue]="genero.codigo"
          [selected]="livro.genero == genero.codigo">{{ genero.nome }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="editora" class="control-label">Editora</label>
        <select class="form-control" id="editora" formControlName="editora">
          <option *ngFor="let editora of editoras" [value]="editora.codigo">{{ editora.nome }}</option>
        </select>
      </div>
    </div>
    <a class="btn btn-primary" *ngIf="livro.codigo!=0"
     (click)="editarLivro(this.livro)">Editar</a>
    <a class="btn btn-sucess"
     (click)="addLivro()" *ngIf="livro.codigo==0">Salvar</a>
    <a class="btn btn-danger" *ngIf="livro.codigo!=0"
     (click)="excluirLivro(this.livro)">Excluir</a>
  </form>
</div>
