<div class="container">
  <form class="form-horizontal" [formGroup]="formulario">
    <input type="hidden" id="id" formControlName="id">
    <div class="col-md-12">
      <label class="control-label" for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome"
        placeholder="Informe o nome do livro">
    </div>
    <div class="col-md-12">
      <label class="control-label" for="nomeAutor">Nome do Autor</label>
      <input type="text" class="form-control" id="nomeAutor" formControlName="nomeAutor"
      placeholder="Informe o nome do autor do livro">
    </div>
    <div class="col-md-12">
      <label for="valor" class="control-label">Valor</label>
      <input type="number" class="form-control" id="valor" placeholder="Informe o valor do livro"
        formControlName="valor">
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="genero" class="control-label">Gênero</label>
        <select class="form-control" id="genero" formControlName="genero">
          <option *ngFor="let genero of generos" [ngValue]="genero.getCodigo()"
          >{{ genero.getNome() }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="editora" class="control-label">Editora</label>
        <select class="form-control" id="editora" formControlName="editora">
          <option *ngFor="let editora of editoras" [ngValue]="editora.getCodigo()">{{ editora.getNome() }}</option>
        </select>
      </div>
    </div>
    <a class="btn btn-success" (click)="onSubmit()">Salvar</a>
    <a class="btn btn-dark" (click)="onCancel()">Cancelar</a>
  </form>
</div>
