<div class="container">
  <h5>Detalhes da Editora</h5>
  <div class="card row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{ editora.getNome() }}
      </li>
      <li class="list-group-item">
        {{ editora.getTelefone() }}
      </li>
      <li class="list-group-item">
        {{ editora.getEmail() }}
      </li>
      <li class="list-group-item">
        {{ editora.getEndereco() }}
      </li>
    </ul>
  </div>

  <a class="btn btn-primary"
  (click)="editarEditora()">Editar</a>

</div>
