<div class="container">
  <h5>Lista de Estoques</h5>

  <div class="card row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"
      *ngFor="let estoque of estoques">
        <a href="#!" *ngIf="estoque.ativo" class="text-dark"
        [routerLink]="['/estoques', estoque.id]">
          Código do Livro: {{ estoque.livro }} - Código da Filial:  {{ estoque.filial }} - Quantidade: {{ estoque.quantidade }}}
        </a>
      </li>
    </ul>
  </div>
  <a class="btn btn-primary" (click)="cadastrarEstoque()">Cadastrar Novo Item do Estoque</a>
</div>
