<div class="container">
  <h5>Detalhes da Filial</h5>
  <div class="card row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{ filial.getNome() }}
      </li>
      <li class="list-group-item">
        {{ filial.getTelefone() }}
      </li>
      <li class="list-group-item">
        {{ filial.getEmail() }}
      </li>
      <li class="list-group-item">
        {{ filial.getEndereco() }}
      </li>
    </ul>
  </div>

  <a class="btn btn-primary"
  (click)="editarFilial()">Editar</a>

</div>
